#header_bar {
    -fx-background-color: #FDF7E9; /* Change to your desired color */
    -fx-padding: 0 10 0 10;
}


#iconbtn{
    -fx-background-radius: 50%; /* Make the button round */
    -fx-border-radius: 50%; /* Rounded border */
    -fx-background-color: #FDF7E9; 
    -fx-border-color: #000000;
    -fx-border-width: 1px;

}



#leftSideVBox{
    -fx-background-color: #FFFFFF;
    -fx-pref-width: 500px;  
    -fx-spacing: 10px;
    -fx-padding: 50px 10px 0px 10px;

}